body{
    text-decoration:purple;
    background-size:cover;
background-image:url("../img/back.jpg");
}
.head{
    margin:0 auto;
    background-color: peru;
    opacity:0.9;
    width:400px;
    text-align:center;
    font-size:20px;
    color:whitesmoke;

}
.yazi1{
    background-color:rgba(200, 0, 0, 0.603);
}
.kutu1{
    width:50%;
    height:50%;
    background-color:rgba(200, 0, 0, 0.603);
}
a{
    color:purple;
}
.footer{
    background-color:rgba(238, 225, 225, 0);
}
img{
    width:50%;
    height:50%;
}
.tarif{
    font-weight:bold;
    font-weight:800;
    background-color:rgba(209, 107, 24, 0.644);
}
.card{
    font-weight:bold;
    font-weight:700;
    background-color:rgba(209,107, 24, 0.644);
}
.card-title{
    background-color:rgba(136, 252, 3, 0.4);
}
#simple{
    margin: 30px auto 10px auto;
    background-color:rgba(255,69,0,0.7);
    width:325px;
    color:purple;
}